<div class="container">
  <h2>Add san pham </h2>
  <form method="POST" action="/addUser" autocomplete="off">
    <div class="form-group">
      <label for="ten">Tên:</label>
      <input type="text" class="form-control" name="ten" required>
    </div>
     <div class="form-group">
      <label for="ten">Mô Tả:</label>
      <input type="text" class="form-control" name="mota" required>
    </div>
    <div class="form-group">
      <label for="gia">Giá:</label>
      <input type="text" class="form-control" name="gia" required>
    </div>
    <div class="form-group">
      <label for="soluong">Số Lượng:</label>
      <input type="text" class="form-control" name="soluong" required>
    </div>
    <div class="form-group">
      <label for="khuyenmai">Khuyến Mại:</label>
      <input type="text" class="form-control" name="khuyenmai" required>
    </div>
    <button type="submit" class="btn btn-primary">Submit</button>
  </form>
</div>